In [6]:
import pandas as pd

path = './Online_Retail.csv'

retail_data = pd.read_csv(path, encoding='cp1252')
print(type(retail_data))
print(retail_data)

<class 'pandas.core.frame.DataFrame'>
       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

Estructuras y Funciones en Pandas

In [7]:
# Nombres de columnas
columns_names = retail_data.columns
print(columns_names)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [9]:
num_rows, num_columns = retail_data.shape
print(f"Numero de filas: {num_rows}")
print(f"Numero de columnas: {num_columns}")

Numero de filas: 541909
Numero de columnas: 8

In [11]:
daily_sales = retail_data['Quantity']
print(daily_sales)
print(daily_sales[2]) # imprime la info de la fila N.2

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64
8

In [13]:
summary = retail_data.describe()
print(summary)
# solo devuelve 3 columnas porque solo 3 tienen numeros

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [18]:
# Media de una columna
mean_value = daily_sales.mean()
print(f"La media es: {mean_value}")

La media es: 9.55224954743324

In [17]:
# Mediana de una columna
median_value = daily_sales.median()
print(f"La mediana es: {median_value}")

La mediana es: 3.0

In [21]:
# Suma de una columna
sum_value = daily_sales.sum()
print(f"La mediana es: {sum_value}")

La mediana es: 5176450

In [22]:
# Contando valores no nulos
count_values = daily_sales.count()
print(count_values)

541909

In [28]:
import pandas as pd

daily_sales = pd.Series([10, 20, None, 40, 50])

# Suma de Quantity
total_sum = daily_sales.sum()
print(f"Suma de Quantity: {total_sum}")

# Conteo de Quantity
count_values = daily_sales.count()
print(f"Conteo de Quantity: {count_values}")

Suma de Quantity: 120.0
Conteo de Quantity: 4

In [29]:
retail_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom